.hero {
    text-align: center;
    background-color: purple;
    color: white;
    padding: 160px 20px;
}


.hero h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 96px;
    line-height: 1.5;
}

.hero h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: normal;
}

.hero p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

h2 {
    font-size: 64px;
}

p {
    font-size: 16px;
    line-height: 30px;
}

.entire-about-page {
    background: linear-gradient(109.6deg, rgb(238, 164, 179) 11.2%, rgb(212, 153, 234) 47.3%, rgb(150, 121, 255) 100.2%);
}

.about-section-container {
    text-align: center;
    padding: 30px;
}

.about-section-container h1 {
    font-size: 64px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 1.1;
    color: blueviolet;
}

.about-section-container h4 {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.about-section-container p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.about-section-content img {
    display: block;
    margin: auto;
    width: 250px;
    border-radius: 15%;
    border: 2px dotted purple;
}

.btn-brand {
background-color: blueviolet;
font-size: 16px;
line-height: 20px;
border-radius: 4px;
padding: 12px 20px;
text-decoration: none;
color: white;
}

.btn-branding {
background-color: plum;
font-size: 16px;
line-height: 20px;
border-radius: 4px;
padding: 12px 20px;
text-decoration: none;
color: white;
}

.btn-branding-outline {
    color: plum;
    background-color: white;
    border: 1px solid plum;
    border-radius: 4px;
    font-size: 18px;
    line-height: 20px;
    padding: 12px 20px;
    text-decoration: none;
}

@media (max-width: 960px) {
    .project {
        padding: 0;
        text-align: center;
    }

    .btn-branding-outline {
        padding: 10px 15px;
    }

    .hero h1 {
        line-height: 1.5;
        font-size: 50px;
    }

    .about-section-content h1 {
        font-size: 30px;
    }

    .about-section-content h4 {
        font-size: 15px;
    }

    .about-section-content img {
        width: 190px;
    }

    .about-section-content p {
        font-size: 14px;
    }

    h2 {
        font-size: 44px;
    }

    .container-2, .container-3 {
        padding-top: 50px;
    }

    .container-3 {
        padding-bottom: 50px;
    }

    .hero {
        padding: 80px 20px;
    }
}