.hero {
    text-align: center;
    background-color: purple;
    color: white;
    padding: 160px 20px;
}


.hero h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 96px;
}

.hero h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 2;
    font-weight: normal;
}

.hero p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

h2 {
    font-size: 64px;
}

p {
    font-size: 16px;
    line-height: 30px;
}

.btn-branding {
background-color: plum;
font-size: 16px;
line-height: 20px;
border-radius: 4px;
padding: 15px 30px;
text-decoration: none;
color: white;
}

.btn-branding-outline {
    color: plum;
    background-color: white;
    border: 1px solid plum;
    border-radius: 4px;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 30px;
    text-decoration: none;

}